.generic-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &__data {
      display: flex;
      align-items: center;
      .generic-data {
        gap: 10px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  