@use "../../styles/App" as *;

.workProfileForm {
  color: $blue-dark;

  &__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;

    &--b {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
    }
    &--list {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0px;
      line-height: 0px;
      margin-left: 5px;
    }
  }

  .icon {
    font-size: 20px;
    line-height: 0px;
  }

  .row {
    align-items: center;
    align-content: center;
  }

  .dropdown-menu {
    max-height: 265px;
    overflow-y: auto;
  }

  textarea:focus {
    background-color: $light-blue;
  }

  .list-group {
    list-style-type: none;
    max-height: 120px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 760px;
    overflow-y: auto;
    overflow-x: hidden;

    &-item {
      padding: 0px 0px;
      background-color: $light-blue;
    }
  }

  .form-check {
    margin-bottom: 0px;

    &-label {
      font-size: 18px;
    }
  }

  .form-group {
    font-size: 20px;
  }

  .btn{
    &-app{
    margin-left: 12px;
  }
  &-danger{
    margin-left: auto;

  }
}
}
