.who-Work {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 80px;
  padding: 20px 10px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 35%;
  }

  &__image {
    min-width: 30%;
  }
}

.text-center {
  text-align: center;
}

//vista tablet
@media screen and (max-width: 765px) {
  .who-Work {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    &__info {
      margin-top: 10px;
      width: 70%;
    }

    &__image {
      width: 90%;
    }
  }
}
