.skills-button {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
 
  }
  &__find {
    width: 100%;
    position: relative;
    .input-finder {
      padding-right: 2rem;
    }
    .input-icon {
      position: absolute;
      top: calc(30%);
      right: 10px;
      color: rgb(55, 55, 55);
    }
  }
}
