@use '../../styles/App' as *;

.contactForm {
  text-align: left;
  color: $white;
  font-family: $font;

  &__container {
    margin: 56px 120px 120px 0px;
    padding: 0px 50px;
    width: 590px;
    height: 1007px;
    border-radius: 16px;
    background: $blue-dark;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding: 32px 0px 8px 0px;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    margin: 16px 0px;

    &--check {
      margin: 4px 0px;
      font-weight: 300;

    }
  }

  &--input {
    background-color: $light-blue;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &--check {
    background-color: $light-blue;
    border-radius: 2px;
    height: 24px;
    width: 24px;
    margin: 0px 24px 0px 0px;
    vertical-align: middle;
    appearance: none;

    &:checked {
      background-color: $blue;
      border-color: $blue;
      background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
    }
  }

  .formBtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 8px;
    background: white;
    border-radius: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $blue;
    margin: 40px 0px 40px 0px;

    &:disabled {
      background: $light-grey;
      color: $grey;
      opacity: 100%;
    }
  }

  .list {
    list-style-type: none;
    padding: 0px;
  }

}