@import "../../styles/settings";

.navbar {
  background-color: $blue;

  .navbar-welcome{
    color: #f7f7f7;
  }
  .collapse {
    color: #f2f5f2;
    padding: 2rem 0px;
    .navbar-nav {
      display: flex;
      // gap: 20px;
       svg {
        color: #f2f5f2;
        font-size: 2rem;
        cursor: pointer;
      }
    }
  }

  ul li {
    .btn-registrate {
      box-shadow: 0px 0px 0px 0.5px $white;
      background-color: transparent;
      border-radius: 10px;
      border: 0.5px solid #f7f7f7;
    }
    .btn-contactanos {
      box-shadow: 0px 0px 0px 0.5px $white;
      background-color: #ffffff;
      border-radius: 10px;
      border: 1px solid #f2f5f2;
      color: $blue !important;
    }
  }

  #navbar-logo {
    width: 130px;
  }

  .navbar-toggler {
    background-color: transparent;
    border: none;
    &:focus {
      box-shadow: none;
    }
    &__menu {
      svg {
        color: #f2f5f2;
        font-size: xx-large;
      }
    }
  }
}

@media screen and (min-width: 760px) {
  #navbar-logo {
    width: 170px;
  }
  .navbar {
    background-color: $blue;
    .collapse {
      padding: 0;
      .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
         margin-left:2rem ;
        }
      }
    }
  }
}
