.test-profile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__title {
    font-size: 24px;
    font-weight: 600;
    // span {
    // font-weight: 800;
    // }
  }
  &__section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .section_tip {
      font-size: small;
    }
  }
  &__skills {
    display: flex;
    flex-direction: column;
  }
  &__cards {
  }
}

.skills-button {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__finder {
    width: 100%;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    .skills-button__item {
      background: transparent;
      border: 1px solid blue;
      border-radius: 10px;
      padding: 10px 10px;
    }
  }
}

.icons-test-profile {
  margin: 0 5px;
  &_yellow {
    color: #ffd51e;
  }
  &_blue {
    color: #0081c9;
  }
}
