//este boton paticuarmente es mas grande que los demas REFACTORIZANDO
.btn-contact-now {
  border-radius: 15px !important;
  height: 3.8vw !important;
  width: 17vw !important;
  margin-top: 5vw;
  font-weight: bold !important;
}
