@use "../../styles/App" as *;

.system {
  display: flex;
  flex-direction: column;
  // padding: 0px 20px;

  &__image {
    min-width: 300px;
    width: 90%;
    margin: auto;
  }
  &__title {
    color: $blue-dark;
    margin-bottom: 55px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }
  &__text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    
    &--grey {
      text-align: center;
      margin: 38px 0px 48px 0px;
      color: $grey;
      font-weight: 700;
      font-size: 20px;
    }
    &--blue {
      color: $blue;
      font-weight: 600;
    }
  }

  &__btn {
    background: $blue;
    border-radius: 24px;
    padding: 16px 24px 16px 24px;
    color: $white;
    width: 166px;
    height: 68px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    border-style: hidden;
  }
}
