.section__system {
  display: flex;
  flex-direction: column;
  width: 550px;
  gap: 1.5rem;
  padding: 1rem;

  &--image {
    min-width: 300px;
  }
}

.btn__system {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 18px;
}
