.modal-container {
  width: 100%;
  height: 600px;
  background-image: url("../../assets/devBannerCirculos.svg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 4px 8px rgba(#f8f9fa, 0.8);
}

.modal-record {
  width: 80%;
  max-width: 900px;
  height: fit-content;
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  border: #0a0a0a 6px solid;

  &__form {
    max-width: 750px;
    font-size: 20px;

    .form__input {
      background: rgba(226, 242, 254, 1);
      &::placeholder {
        opacity: 20%;
      }
    }
  }
  
}
