//UI settings:
@import './settings.scss';

//Components:

// #region Global Button Styles
.btn-dev {
  width: fit-content;
  height: var(--button--height);
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $white;
  border-radius: 5px;
  border: 1px solid $white;
  padding: 0 20px;
  z-index: 1;
  cursor: pointer;
  transform-origin: right;

  &:hover {
    background:#0212c6;
  }

  &:active {
    transform: scale(0.98);
  }
}

.btn-body-section {
  padding: 0px var(--button--body--width);
  border-radius: 20px;
  border: none;
}

//status button option 
.btn-disable {
  cursor: not-allowed;
  color: currentColor;
  opacity: 0.8;
  pointer-events: none;
}

//color button option
.btn-blue {
  background-color:$blue;

  &:hover {
    color: $white;
  }
}

.btn-white {
  background-color: $white;
  color: $blue;
  &:hover {
    color: $white;
  }
}
// #endregion
