.bigBox {
  width: 85%;
  height: 90%;
  left: 50%;
  background: rgba(20, 11, 52, 0.9);
  border-radius: 16px;
  max-width: 1000px;
  max-height: calc(100% - 160px);
  padding: 25px;
  margin: 20px;
}

.whiteText {
  color: white;
  padding: 10px;
}

.btn-postular {
  right: 0px;
}
