.bigBox {
  position: absolute;
  width: 85%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(20, 11, 52, 0.9);
  border-radius: 16px;
  margin: 20px auto;
  max-width: 1000px;
  max-height: calc(100% - 160px);
}

.whiteText {
  color: white;
  padding: 10px;
}

.blueBtn {
  display: flex;
  position: absolute;
  align-items: center;
  background: white;
  border-radius: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #2738f5;
  width: 150px;
  height: 60px;
  background-color: blue;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
  right: 20px;
  bottom: 20px;
}

@media (max-width: 1199.98px) { 
  .bigBox {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .blueBtn {
    margin-left: 85%;
  }
}

@media (max-width: 1023px) { 
  .bigBox {
    width: 80%;
    height: 70%;
    background: rgba(20, 11, 52, 0.9);
    border-radius: 16px;
  }
  .blueBtn {
    margin-left: 70%;
  }
}

@media (max-width: 768px) {
  .bigBox {
    width: 70%;
    height: 100%;
    background: rgba(20, 11, 52, 0.9);
    border-radius: 16px;
  }
  .blueBtn {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 575.98px) {
  .bigBox {
    width: 95%;
    height: 90vh;
    background: rgba(20, 11, 52, 0.9);
    border-radius: 16px;
    padding: 1rem;
  }

  .whiteText {
    font-size: 14px;
    line-height: 1.5;
  }

  .blueBtn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
