@use "../../styles/App" as *;

.banner {
  font-family: $font;

  .row {
    align-items: center;
  }

  .col-6 {
    margin: auto;
    text-align: center;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $blue-dark;
    margin-bottom: 15px;
  }

  &__text {
   text-align: center;
    color: $grey;

    &--b {
      color: $blue;
      font-weight: 600;
    }
  }
  .video {
    min-width: 100%;
    height: 350px;
    // height: 50vw;
  }
}
