@use "../../styles/App" as *;

.banner {
  font-family: $font;
  .row {
    align-items: center;
  }
  .col-6 {
    margin: auto;
    text-align: center;
  }
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $blue-dark;
  }
  &__text {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 40px;
    font-weight: 400;
    font-size: 24px;
    color: $grey;

    &--b {
      color: $blue;
      font-weight: 600;
    }
  }

  .video {
    margin: 60px 120px 80px 0px;
  }
}
