name: deploy
run-name: ${{ github.actor }} rocks on!
on: push
  #push:
  #  branches:
  #    - develop
jobs:
  build-and-push:
    name: build and push image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '18'
    - name: Login to Docker Hub - Build and push
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./.docker/preprod/Dockerfile
        push: true
        tags: ${{ github.sha }}